<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Note</title>
</head>
<body>
<h1>My ideas</h1>
<ul>
    {% for idea in ideas %}
    <li>{{idea}} <button name="submit_delete" type="submit" formmethod="post">&#9747;</button> </li>
    {% endfor %}
</ul>
<div id="options">
    <form>
        <button><a href="/add">Add idea</a></button>
        <button><a href="/edit">Edit idea</a></button>
        <button><a href="/delete">Delete idea</a></button>
    </form>
</div>
</body>
</html>