<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My notes</title>
</head>
<body>
<h1>My notes</h1>
{% if ideas == [] %}
<p>There are currently no ideas saved</p>
{% else %}
    {% for note in notes %}
        <form method="post" action="">
        <label>{{ note }}</label>
        <button id="button" name="delete_button" value="{{ note }}">&#9747;</button>
        </form>
    {% endfor %}
    {% endif %}
<p><small>Edits: {{ edits_counter }}</small></p>
<p><a href="/note">Add a note</a></p>
</body>
</html>